@use './../../styles/_variables' as var

.root
    .completed
        font-size: 24px
        color: var.$black-color
        margin-bottom: 20px
    .item
        &:not(:last-child)
            margin-bottom: 10px
    .empty
        font-size: 24px
        color: var.$black-color
