.root
    .completed
        font-weight: 400
        font-size: 24px
        color: #414141
        margin-bottom: 20px
    .item
        &:not(:last-child)
            margin-bottom: 10px
    .empty
        font-weight: 400
        font-size: 24px
        color: #414141

.slide-enter
    opacity: 0
    transform: translateX(100%)
.slide-enter-active
    opacity: 1
    transform: translateX(0)
    transition: opacity 300ms linear, transform 300ms linear
.slide-enter-done
    opacity: 1
    transform: translateX(0)
.slide-exit
    opacity: 1
    transform: translateX(0)
.slide-exit-active
    opacity: 0
    transform: translateX(100%)
    transition: opacity 300ms linear, transform 300ms linear
.slide-exit-done
    opacity: 0
    transform: translateX(100%)
