@use './../../styles/_mixins' as mixin

.root
    display: grid
    grid-template-columns: 1fr 4fr
    grid-template-rows: 1fr
    @include mixin.laptop
        grid-template-columns: 1fr
        grid-template-rows: auto auto
    .sidebar
        height: calc(100vh - 86px)
        background: #F9F9F9
        padding: 50px 40px
        @include mixin.laptop
            height: auto
            padding: 30px 40px
    .main
        padding: 38px 45px
