@use './../../../styles/_variables' as var

.root
    width: 120px
    height: 39px
    border-radius: 8px
    cursor: pointer
    position: relative
    &:disabled
        cursor: default
    span
        font-family: 'Rosario'
        font-weight: 700
        font-size: 18px
    &.loading
        &::after
            content: ""
            position: absolute
            width: 14px
            height: 14px
            top: 0
            left: 0
            right: 0
            bottom: 0
            margin: auto
            border: 5px solid transparent
            border-radius: 50%
            animation: button-loading-spinner 1s ease infinite
        @keyframes button-loading-spinner
            from
                transform: rotate(0turn)
            to
                transform: rotate(1turn)
        span
            visibility: hidden
            opacity: 0
        &.contained
            &::after
                border-top-color: #fff
        &.outlined
            &::after
                border-top-color: var.$red-color
    &.contained
        color: #fff
        background-color: var.$red-color
        border: none
        transition: background-color 0.3s linear
        &:hover
            background-color: #e5333f
        &:disabled
            background-color: #ccc
    &.outlined
        color: var.$red-color
        background-color: #fff
        border: 1px solid var.$red-color
        transition: all 0.3s linear
        transition-property: color, border
        &:hover
            color: #e5333f
            border: 1px solid #e5333f
        &:disabled
            color: #ccc
            border: 1px solid #ccc
