@use './../../../styles/_variables' as var

.root
    color: var.$black-color
    margin-bottom: 30px
    position: relative
    label
        font-size: 18px
        display: inline-block
        margin-bottom: 5px
    input
        width: 100%
        border: 1px solid var.$light-grey-color
        border-radius: 4px
        padding: 10px 17px
        font-size: 18px
        outline: none
        &:placeholder
            color: var.$light-grey-color
    .error
        position: absolute
        left: 10px
        bottom: -20px
        color: red
        font-size: 14px
